################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DotNet6FormValidation/FileContentIndex/2bc2dd2e-7623-4ad8-ab31-f573188007f1.vsidx
